<ion-header>
  <ion-toolbar>
    <ion-title>Tambah element</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar #searchBar (ionChange)="getIcons()" [debounce]="500"></ion-searchbar>
  <ion-grid class="ion-padding">
    <ion-row *ngIf="icons; else cari">
      <ion-col *ngFor="let icon of icons" size="3">
        <img [src]="icon.images[512]" [alt]="icon.family_name" (click)="addIcon(icon.images[512])">
      </ion-col>
    </ion-row>
    <ng-template #cari>
      <ion-row class="ion-text-center">
        <p>
          <ion-icon size="large" name="search-sharp"></ion-icon> Masukan keword icons
        </p>
      </ion-row>
    </ng-template>
  </ion-grid>
</ion-content>