<ion-header>
  <ion-toolbar>
    <ion-title>shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="350"
    height="658" viewBox="0 0 350 658" xml:space="preserve">
    <desc>Created with Fabric.js 5.2.1</desc>
    <defs>
    </defs>
    <rect x="0" y="0" width="100%" height="100%" fill="#ebebef"></rect>
    <g transform="matrix(1 0 0 1 144.58 246.85)" style="">
      <text xml:space="preserve" font-family="Times New Roman" font-size="40" font-style="normal" font-weight="normal"
        style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1; white-space: pre;">
        <tspan x="-140.33" y="12.57">Hello Fabric!</tspan>
      </text>
    </g>
  </svg>
</ion-content>