#fabric-canvas-wrapper{
    width: fit-content;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    background: #fff;
    box-shadow: 4px 4px 10px #0000007a;
}
.container{
    display: flex;
    justify-content: center;
}