@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;700;800&family=Caveat&family=Cedarville+Cursive&family=Dancing+Script:wght@500&family=Fleur+De+Leah&family=Hahmlet:wght@300;400;500;700;800&family=Indie+Flower&family=Island+Moments&family=JetBrains+Mono:ital,wght@0,200;0,300;0,500;0,700;1,500&family=Just+Another+Hand&family=Kalam:wght@300&family=Licorice&family=Love+Light&family=Manrope:wght@400;700;800&family=Mea+Culpa&family=Oleo+Script:wght@400;700&family=Oooh+Baby&family=Oswald:wght@300;400;500;600;700&family=Pacifico&family=Qwitcher+Grypen:wght@400;700&family=Roboto:wght@400;500;700;900&family=Sacramento&family=Satisfy&family=Shadows+Into+Light&family=The+Nautigal:wght@400;700&family=Vujahday+Script&family=Waterfall&family=Yellowtail&display=swap');
#fabric-canvas-wrapper{
    width: fit-content;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    background: #fff;
    box-shadow: 4px 4px 10px #0000007a;
}
.container{
    display: flex;
    justify-content: center;
}
canvas{
    border: 1px solid #cccccc;
}