<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="options()">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="fabric.undo()">
        <ion-icon size="large" name="arrow-undo-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="fabric.redo()">
        <ion-icon size="large" name="arrow-redo-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="fabric.saveSVG()">
        <ion-icon size="large" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-paint></app-paint>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="modalIcons()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<app-toolbar></app-toolbar>