<ion-tab-bar slot="bottom" *ngIf="fabric.selectedObj && fabric.selectedObj.selected[0].type === 'textbox'">
  <ion-tab-button>
    <ion-icon name="document-text-outline" (click)="fabric.enterEditing(fabric._canvas.getActiveObject())"></ion-icon>
    <ion-label>Edit</ion-label>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="trash-outline" (click)="fabric.removeObj()"></ion-icon>
    <ion-label>
      Hapus
    </ion-label>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="duplicate-outline" (click)="fabric.duplicate()"></ion-icon>
    <ion-label>Duplikat</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="selectFontSize()">
    <ion-icon name="text-outline"></ion-icon>
    <ion-label>Font size</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="selectFont()">
    <ion-icon src="/assets/icon/font-family.svg"></ion-icon>
    <ion-label>Font Family</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="fabric._canvas.getActiveObject().bringForward()">
    <ion-icon name="layers-outline"></ion-icon>
    <ion-label>Naik</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="fabric._canvas.getActiveObject().sendBackwards()">
    <ion-icon name="layers-sharp"></ion-icon>
    <ion-label>Turun</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="fabric.animate()">
    <ion-icon name="layers-sharp"></ion-icon>
    <ion-label>Animasi</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="setJson()">
    <ion-icon name="layers-sharp"></ion-icon>
    <ion-label>Json</ion-label>
  </ion-tab-button>
</ion-tab-bar>

<!-- img  -->

<ion-tab-bar slot="bottom" *ngIf="fabric.selectedObj && fabric.selectedObj.selected[0].type === 'image'">
  <ion-tab-button>
    <ion-icon name="trash-outline" (click)="fabric.removeObj()"></ion-icon>
    <ion-label>
      Hapus
    </ion-label>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="duplicate-outline" (click)="fabric.duplicate()"></ion-icon>
    <ion-label>Duplikat</ion-label>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="contrast-sharp"></ion-icon>
    <ion-label>Filter</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="fabric._canvas.getActiveObject().bringForward()">
    <ion-icon name="layers-outline"></ion-icon>
    <ion-label>Naik</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="fabric._canvas.getActiveObject().sendBackwards()">
    <ion-icon name="layers-sharp"></ion-icon>
    <ion-label>Turun</ion-label>
  </ion-tab-button>
</ion-tab-bar>