ion-tab-bar {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
  }

  div.scrollmenu ion-tab-button {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
  }