<ion-header>
  <ion-toolbar>
    <ion-title>Fonts Family</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-label>
            Font Family
          </ion-label>
          <ion-select placeholder="Pilih font" [selectedText]="fontFamily"
            (ionChange)="activeObjSet('fontFamily', $event.target)">
            <ion-select-option *ngFor="let font of fontFamilys" [value]="font">
              {{font}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-label>
            Font Color
          </ion-label>
          <input type="color" [value]="fontColor" (change)="activeObjSet('fill', $event.target)">
        </ion-item>
      </ion-list>
    </ion-col>
    <!-- <ion-col slot="center">
    </ion-col> -->
  </ion-row>
</ion-content>